<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd ">

	<context:annotation-config />

	<context:component-scan base-package="net.tecgurus" />

	<!-- <bean id="holaMundo1" class="net.tecgurus.hola.SaludoExtraño" /> <bean 
		id="programadorJava" class="net.tecgurus.service.impl.ProgramadorJava" /> 
		<bean id="clienteGS" class="net.tecgurus.service.impl.ClienteImpl_GS"> -->
	<!-- <property name="programador" ref="programadorJava" /> -->
	<!-- <constructor-arg name="programador" ref="programadorJava" /> </bean> -->
</beans>